/* ==========================================================================
   DARK THEME
   ========================================================================== */

/* Color codes used for the theme */
$cream                      : #fffcd9;
$champagne                  : #f9e6ad;
$burgundy                   : #691b1a;
$cherry-red                 : #7a0605;
$marron                     : #340000;
$noir                       : #000000;

$background                 : #{$cream};
$background-light           : mix(#ffffff, $cream, 80%);
$background-lighter         : mix(#ffffff, $cream, 90%);
$text                       : #{$marron};
$link                       : #{$cherry-red};
$link-dark                  : mix(#000000, $cherry-red, 25%);
$link-light                 : mix(#ffffff, $cherry-red, 25%);

/* Color codes used for the site */
$danger-color               : #ee5f5b;
$info-color                 : #2f7f93;
$notice-color               : #7a8288;
$success-color              : #62c462;
$warning-color              : #f89406;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Dark theme for the site */
html[data-theme="dark"] {
    --global-base-color                 : #{$marron};
    --global-bg-color                   : #{$marron};
    --global-footer-bg-color            : #{$marron};
    --global-border-color               : #{$champagne};
    --global-dark-border-color          : #{$background-light};
    --global-code-background-color      : #fafafa;
    --global-code-text-color            : #{$darker-gray};
    --global-fig-caption-color          : #{$light-gray};
    --global-link-color                 : #{$champagne};
    --global-link-color-hover           : #{$cream};
    --global-link-color-visited         : #{$cherry};
    --global-masthead-link-color        : #{$cream};
    --global-masthead-link-color-hover  : #{$background-light};
    --global-text-color                 : #{$cream};
    --global-text-color-light           : #f3f3f3;
    --global-thead-color                : #{$background-lighter};
}
